---
http_interactions:
- request:
    method: get
    uri: https://api-v2.twenty20.com//challenges/open-for-submissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"challenges":[{"id":530,"slug":"family-fun-1","name":"Family Fun!","description":"Families
        having fun!","created_at":"2014-11-25T00:31:21Z","updated_at":"2014-11-25T01:10:22Z","starts_at":"2014-11-25T08:00:00Z","ends_at":"2014-12-03T07:59:59Z","submission_count":616,"winner_count":0,"sponsor_description":null,"is_sponsored":false,"image":"https://res.cloudinary.com/twenty20/image/upload/t_standard-fit/photos/6428d8a9-efee-4f26-8c4d-d991bb92eae5.jpg","contest_type":"regular-challenge","status":"open","finalist_count":0,"items":[{"id":51615279,"caption":null,"votes_count":1,"uid":"99d5fcbc-0ac1-4ebc-8e24-7325f4f28039","source_id":"99d5fcbc-0ac1-4ebc-8e24-7325f4f28039","source_name":"upload","standard_url":"https://res.cloudinary.com/twenty20/image/upload/t_standard-fit/photos/99d5fcbc-0ac1-4ebc-8e24-7325f4f28039.jpg","low_url":"https://res.cloudinary.com/twenty20/image/upload/t_low-fit/photos/99d5fcbc-0ac1-4ebc-8e24-7325f4f28039.jpg","thumb_url":"https://res.cloudinary.com/twenty20/image/upload/t_thumb-detect/photos/99d5fcbc-0ac1-4ebc-8e24-7325f4f28039.jpg","categorized_at":null,"trended_at":null,"views_count":0,"comments_count":0,"created_at":"2014-11-22T15:36:58Z","updated_at":"2014-11-25T22:52:17Z","featured_at":null,"width":3484,"height":2612,"featured_reason":1,"featured_meta":null,"featured_id":null,"latitude":55.5822,"longitude":55.5822,"user":{"id":317658,"created_at":"2014-03-02T13:09:10Z","updated_at":"2014-12-01T18:30:01Z","first_name":"Irina","last_name":"Tingstedt","avatar":"https://dc4fj9o1wzm3u.cloudfront.net/users/317658/avatar/1417458601","username":"irinatingstedt","display_name":"irinatingstedt","gallery_status":"enabled","featured_at":null}}]},{"id":534,"slug":"herbs-1","name":"Herbs","description":"Spices,
        herbs, seasoning.","created_at":"2014-11-25T01:25:59Z","updated_at":"2014-11-25T01:25:59Z","starts_at":"2014-11-26T08:00:00Z","ends_at":"2014-12-04T07:59:59Z","submission_count":433,"winner_count":0,"sponsor_description":null,"is_sponsored":false,"image":"https://res.cloudinary.com/twenty20/image/upload/t_standard-fit/photos/e2a9f623-3589-4767-8af3-0fdb12299d27.jpg","contest_type":"regular-c[...]
