---
http_interactions:
- request:
    method: get
    uri: https://api-v2.twenty20.com/items/featured?featured=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"id":41209568,"caption":null,"votes_count":36,"uid":"02f3578e-42b0-4c9d-b195-856308a5988b","source_id":"0562f340d34211e38bce01cba0c4f191","source_name":"upload","standard_url":"https://res.cloudinary.com/twenty20/image/upload/t_standard-fit/photos/02f3578e-42b0-4c9d-b195-856308a5988b.jpg","low_url":"https://res.cloudinary.com/twenty20/image/upload/t_low-fit/photos/02f3578e-42b0-4c9d-b195-856308a5988b.jpg","thumb_url":"https://res.cloudinary.com/twenty20/image/upload/t_thumb-detect/photos/02f3578e-42b0-4c9d-b195-856308a5988b.jpg","categorized_at":null,"trended_at":null,"views_count":0,"comments_count":1,"created_at":"2014-05-04T04:10:18Z","updated_at":"2014-12-01T18:40:07Z","featured_at":"2014-12-01T18:40:07Z","width":2448,"height":3264,"featured_reason":0,"featured_meta":"{\"item_type\":\"digital_download\"}","featured_id":27447,"latitude":null,"longitude":null,"user":{"id":261767,"created_at":"2013-11-14T19:17:43Z","updated_at":"2014-11-22T18:53:00Z","first_name":"jrajarat","last_name":"Raj","avatar":"https://dc4fj9o1wzm3u.cloudfront.net/users/261767/avatar/1416682380","username":"james","display_name":"jrajarat","gallery_status":"enabled","featured_at":null}},{"id":41111440,"caption":"Hero
        of the day ","votes_count":26,"uid":"9e619ea2-3956-481d-a75e-c8ccbe1c7355","source_id":"a0a9e0d0d1cf11e3bfb62f47fae341b2","source_name":"upload","standard_url":"https://res.cloudinary.com/twenty20/image/upload/t_standard-fit/photos/9e619ea2-3956-481d-a75e-c8ccbe1c7355.jpg","low_url":"https://res.cloudinary.com/twenty20/image/upload/t_low-fit/photos/9e619ea2-3956-481d-a75e-c8ccbe1c7355.jpg","thumb_url":"https://res.cloudinary.c[...]
